@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
.main{
  background-image: url("../assets/image2.jpg");
  background-attachment: fixed;
  background-size: cover;
}
}
.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color: rgb(225 29 72) !important;
}